*.pdf
*.ml
*.docx
*.bat
DL_approach/human-pose-estimation.pytorch-master/coco/
*.pyc
*.tar
DL_approach/human-pose-estimation/coco/
DL_approach/human-pose-estimation/GolferPrediction/
*.rar
*.jpg
DL_approach/prototype/human-pose-estimation/coco/
DL_approach/implementation/logging/
DL_approach/implementation/loggings/
